@import '../@angular2-material/core/theming/all-theme';

$primary_theme: md-palette($md-blue, 700, 500, 800);
$accent_theme: md-palette($md-light-blue, A200, A100, A400);

$theme: md-light-theme($primary_theme, $accent_theme);

$primary: map-get($theme, primary);
$accent: map-get($theme, accent);
$warn: map-get($theme, warn);
$background: map-get($theme, background);
$foreground: map-get($theme, foreground);
