@import '../../scss/variables';
@import '../../scss/mixins';

:host {
    .c100 {
        $background-color: md-color($background, app-bar);;
        .inside {
            cursor: pointer;
            z-index: 10;
        }
        .slice {
            .bar {
                border-color: md-color($primary);
            }
            .fill {
                border-color: md-color($primary);
            }
        }
        &:hover {
            .inside {
                color: md-color($primary);
            }
            .slice {
                .bar {

                }
                .fill {

                }
            }
        }
    }
}
