// MaterialProgressBarCircle

@import '../../scss/variables';
@import '../../scss/mixins';

$fillColor: #8a8a8a;
$backColor: #FAFAFA;

:host {
    .c100 {
        $background-color: $backColor;
        .inside {
            z-index: 10;
        }
        .slice {
            .bar {
                border-color: $accent;
            }
            .fill {
                border-color: $accent;
            }
        }
        &:hover {
            .inside {
                color: $accent;
            }
            .slice {
                .bar {

                }
                .fill {

                }
            }
        }
    }
}
