@import '../scss/variables';

:host {
    color: md-color($background, card);
    > md-sidenav-layout {
        md-sidenav {
            width: 350px;
        }
        .headerBar {
            color: md-color($background, card);
            display: flex;
            .menu {
                cursor: pointer;
            }
        }
        .listOTP {
            .otpAccount {
                position: relative;
                display: inline-block;
                margin: 0 20px 0 20px;
                width: 300px;
                material-card {
                    user-select: none;
                    .delete, .qr-code {
                        color: md-color($foreground, hint-text);
                        position: absolute;
                        top: 25px;
                        &:hover {
                            color: md-color($foreground, icon);
                        }
                    }
                    .delete {
                        right: 5px;
                    }
                    .qr-code {
                        left: 5px;
                    }
                    material-card-main {
                        flex-direction: column;
                        .content {
                            margin: 25px auto;
                            &material-proress-bar-circle {

                            }
                        }
                        .account {
                            text-align: center;
                            margin-bottom: 10px;
                        }
                    }
                    material-card-actions {
                        text-align: center;
                        padding: 10px;
                        .otp {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}
