<md-sidenav-layout layout="row" fullscreen>
    <md-sidenav #menu mode="side" opened>
        <login-otp (onNewAccount)="addAccount" (closeMenu)="menu.close()"></login-otp>
    </md-sidenav>
    <md-toolbar class="headerBar" color="primary" *ngIf="selection.length == 0">
        <md-icon *ngIf="!menu.opened" class="menu material-icons" (click)="menu.open($event)">menu</md-icon>
        <span>One Time Password</span>
        <span flex></span>
        <login></login>
    </md-toolbar>
    <md-content class="listOTP md-padding" layout="row" layout-wrap layout-align="center start">
        <div *ngFor="let otp of otps" class="otpAccount">
            <material-card>
                <button md-icon-button class="more md-icon-button" aria-label="More">
                    <md-icon class="material-icons">more_vert</md-icon>
                </button>
                <material-card-main>
                    <material-proress-bar-circle [percentage]="otp.getTimeLeftPercent()">
                        {{otp.timeLeft}}
                    </material-proress-bar-circle>
                    <span class="account">{{otp.account}}</span>
                </material-card-main>
                <material-card-actions>
                    <button md-button class="otp" ngIIclipboard [cbContent]="otp.OTPtoken"  title="Click to Copy It !">{{otp.OTPtoken}}</button>
                </material-card-actions>
            </material-card>
        </div>
    </md-content>

    <!-- <md-content #content class="table">
    <md-toolbar color="accent" *ngIf="selection.length != 0">
    <span>{{selection.length}} item{{selection.length > 1 ? 's' : ''}} selected</span>
    <span flex hide show-gt-md></span>
    <span class="md-caption" hide show-gt-md>{{selection | join:' | '}}</span>
    <md-icon class="remove material-icons">delete</md-icon>
</md-toolbar>
<md-data-table layout-fill [selectable]="true" (onSelectableChange)="change($event)">
<thead>
<tr md-data-table-header-selectable-row>
<th>Account</th>
<th>TimeLeft</th>
<th>Seconds</th>
<th>OTP</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let opt of opts" md-data-table-selectable-row [selectable-value]="opt.account">
<td>{{ opt.account }}</td>
<td>
<md-progress-circle mode="determinate" [value]="opt.getTimeLeftPercent()"></md-progress-circle>
</td>
<td>{{ opt.timeLeft }}</td>
<td>{{ opt.OTPtoken }}</td>
</tr>
</tbody>
</md-data-table>
</md-content> -->
</md-sidenav-layout>
