<md-dialog #pinDialog escapable="true">
    <lock-pin [locked]="isLocked" (unlock)="unlock($event)"></lock-pin>
</md-dialog>
<md-sidenav-layout layout="row" fullscreen *ngIf="!isLocked">
    <md-sidenav #menu mode="side" opened>
        <login-otp (onNewAccount)="addAccount($event)" (closeMenu)="menu.close()"></login-otp>
    </md-sidenav>
    <md-toolbar class="headerBar" color="primary">
        <md-icon *ngIf="!menu.opened" class="menu material-icons" (click)="menu.open($event)">menu</md-icon>
        <span>One Time Password</span>
        <span flex></span>
        <login (onLogin)="onLogin()" (onServerAddress)="serverAddress = $event"></login>
    </md-toolbar>
    <md-content class="listOTP md-padding" layout="row" layout-wrap layout-align="center start">
        <div *ngFor="let otp of otps; let key = index" class="otpAccount">
            <material-card>
                <button md-icon-button class="delete md-icon-button" aria-label="Delete" (click)="removeAccount(key)">
                    <md-icon class="material-icons">delete</md-icon>
                </button>
                <button md-icon-button class="qr-code md-icon-button" aria-label="QrCode" (click)="otp.toggleQrCode()">
                    <md-icon class="material-icons">photo_camera</md-icon>
                </button>
                <material-card-main>
                    <material-proress-bar-circle *ngIf="!otp.showQrCode" class="content" [percentage]="otp.getTimeLeftPercent()" (click)="otp.updateCounter()">
                        {{otp.counter}}
                    </material-proress-bar-circle>
                    <qr-code *ngIf="otp.showQrCode" class="content" [data]="otp.OTPKeyURI" [size]="120" [type]="11"></qr-code>
                    <span class="account">{{otp.account}}</span>
                </material-card-main>
                <material-card-actions>
                    <button md-button class="otp" ngIIclipboard [cbContent]="otp.OTPtoken"  title="Click to Copy It !">{{otp.OTPtoken}}</button>
                </material-card-actions>
            </material-card>
        </div>
    </md-content>
</md-sidenav-layout>
