// // App
@import "../ng2-material/core/style/variables";
@import "../ng2-material/core/style/default-theme";

@import '../scss/variables';

:host {
    > md-sidenav-layout {
        md-toolbar.md-primary {
            background: $accent;
        }
        md-sidenav {
            width: 300px;
        }
        .headerBar {
            display: flex;
            .menu {
                cursor: pointer;
            }
        }
        .listOTP {
            .otpAccount {
                position: relative;
                display: inline-block;
                margin: 0 20px 0 20px;
                width: 300px;
                .more {
                    position: absolute;
                    top: 25px;
                    right: 5px;
                }
                material-card-main {
                    flex-direction: column;
                    material-proress-bar-circle {
                        margin: 25px auto;
                    }
                    .account {
                        text-align: center;
                        margin-bottom: 10px;
                    }
                }
                material-card-actions {
                    text-align: center;
                    padding: 10px;
                    .otp {
                        font-size: 30px;
                        color: $color;
                    }
                }
            }
        }
    }
}
