// LoginOTP

$width: 80%;

:host {
    text-align: center;
    md-input {
        width: $width;
        margin: 15px 0px;
    }
    .otpGroup, .hashGroup, .googleCheckbox {
        display: block;
        margin-bottom: 20px;
    }
    .double {
        & > * {
            // width: $width / 2;
            margin: 3%;
        }
    }
    .triple {
        & > * {
            width: 25%;
            margin: 3%;
        }
    }
    .headerMenu {
        .headerTitle, .close {
            margin-left: auto;
        }
    }
    .add {
        vertical-align: middle;
        padding: 5px 10px 10px 10px;
    }
}
